.review {
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
    max-width: 90%;
    border: 2px solid white;
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: contain;
}

h1,
h2 {
    margin: 0px;
}

.review--album-title {
    font-size: 4em;
    word-wrap: break-word;
    margin-left: 10px;
}

.review--content {
    width: 50%;
}

.review button {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}



