
.auth-form {
    margin: 5% auto;
    border-radius: 10px;
    padding: 10%;
    display: grid;
    width: 50%;
    grid-template-rows: 100px 100px;
    grid-column: 50px;
    background-color: azure;
    color: black;
}

.auth-form div {
    margin-top: 10px;
    color: black;
}

.auth-form a {
    cursor: pointer;
}

.account-form button {
    padding: 5%;
    margin: 5%;
    background-color: blueviolet;
}